*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
    color: bisque;
}

html, body{
    height: 100%;
    width: 100%;
    cursor: none;
}
.cursor{
    height: 20px;
    width: 20px;
    position: fixed;
    background-color: rgb(167, 79, 255);
    border-radius: 50%;
    z-index: 9;
    mix-blend-mode: difference;
    transition: left linear 0.1s top linear 0.1s;
}
.main{
    background-color: #0f0d0d;
}
/* page 1 */
.page1{
    min-height: 100vh;
    width: 100%;
}

/* navbar */

#nav{
    height: 55px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

#nav img{
    height: 26px;
    
}

#nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
}

#nav-part2 h4{
    font-size: 12px;
    text-transform: uppercase;
}

#nav-part2 h4:hover{
    border-bottom: 5px solid red;
    transition: ease-in-out all ;
}


#nav #circle{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
}


/* main page 1 */

.page1 h1{
    font-size: 7vw;
    font-weight: 500;
    margin-top: 12vw;
    margin-left: 6vw;
}

.page1 h2{
    line-height: 10vh;
    font-size: 7vw;
    font-weight: 500;
    margin-left: 26vw;
}


.page1 video{
    width: 60%;
    /* height: 60%; */
    margin-top: 10vw;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    
}


.page2{
    min-height: 60vh;
    width: 100%;
    padding: 100px 5vw;
    border-bottom: 2px solid plum;
}

.page2 h1{
    font-size: 6vw;
    font-weight: 300;
    margin-top: 3vh;
    margin-left: 2vw;
    color: #000;
}

.page2-container{
    height: 60vh;
    width: 100%;
    /* background-color: rgb(122, 65, 44); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 0 5vw; */
}

.page2-left{
    width: 27%;
    /* background-color: black; */

}

.page2-left h2{
    font-size: 3vw;
    font-weight: 200;
    color: #000;
    line-height: 3vw;
    
}

.page2-right{
    width: 20%;
    /* background-color: black; */

}

.page2-right p{
    font-size: 1.6vw;
    color: #000;
}

.page2-right button{
    width: 100%;
    border-radius: 50px;
    border: none;
    padding: 4px 0;
    background-color: tomato;
    margin-top: 1vh;
}


/* page 3 */

.page3{
    min-height: 100vh;
    width: 100%;
    background-color: #000;
    position: relative;
    padding-top: 100px;
}

.page3 h1{
    font-size: 6.8vw;
    font-weight: 300;
    margin-left: 100px;
}

.page3-part1{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    min-height: 100vh;

}

.page3-part1 img{
    height: 400px;
    margin-top: 120px;
    object-fit: cover;
}

.page3-part1 video{
    height: 400px;
    width: 400px;
}